<include file="Common:header"/>
<script src="__PLUG__/jquery.validate/my.rules.js" type="text/javascript"></script>
<div class="admin_r_all" style="height: 477px;">
    <div class="admin_bg_all">
        <div class="admin_bg_t">
            <a>ID:xone</a>
            <a href="#" id="admin_bg_t_x">修改权限</a>
        </div>
        <form action="__URL__/check_groups" method="post" enctype="multipart/form-data">
            <div class="admin_bg_fb">
                    <span>
                        <em>管理员</em>
                        <label>{$admin.username}</label>
                    </span>
                    <span>
                    	<em>当前权限</em>
                        <label>{$admin.gid|get_group}</label>
                        <input name="id" value="{$admin.id}" type="hidden"/>
                    </span>
                    <span>
                    	<em>授权权限</em>
                        <volist name="model" id="vo">
                            <label for="{$vo.contr_name}">
                                <input name="gid[]" id="{$vo.contr_name}"  type="checkbox" value="{$vo.id}" <if condition=" in_array($vo['id'],$tgid)">checked</if> >{$vo.name}
                            </label>
                        </volist>
                    </span>
                <div class="admin_bg_b2 admin_bg_b3">
                    <input name="" type="submit" value="确认添加">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function(){
        $('form').submit(function (e) {
            e.preventDefault();
            $(this).ajaxSubmit({
                success:function (data) {
                    if(data.status==0){
                        layer.msg(data.msg,{icon:2});
                    }else{
                        redirect(data.redirect,data.msg,3);
                    }
                }
            })
        });
    });
</script>
<include file="Common:footer"/>