<div class="ticket" style="float: right; margin: 20px 0 10px 0;">
        <span class="ticket_top">
            <a href="javascript:void(0);" class="current" id="current">领取礼盒</a><a href="javascript:void(0);" id="logistics">
            查询订单状态</a>
            <!-- <b class="xtips1"><font></font><i>礼品券换礼盒</i></b> -->
        </span>
        <!-- 礼品券 -->
        <span id="ticket_edit" class="ticket_edit ticket1">
            <input type="text" name="ticket_code" class="ticket_code" placeholder="请输入礼品券编号" />
            <input type="button" name="fetch" class="fetch" value="领取" />
        </span>
    </div>
    <form action="{:U('oder/get_goods')}" method="post" autocomplete="off">
        <!-- 购物列表 -->
        <div class="cart_pro_list">
            <!-- 购买的商品 -->
                <div class="cart_product car_check" data-index="{$key}">
                    <span class="cart_pro_left">
                        <!-- <label for="product2"></label> -->
                        <b><img src="{$vo.image}"></b>
                        <strong>
                            <a>{$vo.coupons_title}<span class="claret_red_bg">礼盒</span></a>
                            <i>优质阳澄湖大闸蟹不一样的螃蟹</i>
                            <em>{$vo.description|get_pro_left}<font>&nbsp;&nbsp;|&nbsp;&nbsp;</font>{$vo.description|get_pro_right}
                            </em>
                            <img src="__IMAGES__/zhengpin.fw.png">
                        </strong>
                    </span>
                    <span class="cart_pro_right">
                        <h2>￥<i class="single_price">{$vo.tprice}</i><span>元</span></h2>
                    </span>
                    <input type="hidden" name="id" value="{$vo.coupons_id}" id="id">
                    <input type="hidden" name="tprice" value="{$vo.tprice}" id="tprice">
                    <input type="hidden" name="coupon_cid" value="{$vo.coupon_cid}" id="coupon_cid">
                    <input type="hidden" name="mass" value="{$vo.mass}" id="mass">
                    <input type="hidden" name="huan" value="1" id="huan">
                </div>
        </div>
        <!-- 用户信息 -->
        <div class="user_info">
			<span class="details_info user_left">
				<i></i>
				<h5>购买人信息</h5>
				<span>
					<em>姓名</em><input type="text" name="suser" id="suser"/>
				</span>
				<span>
					<em>手机号</em><input type="text" name="sphone" id="sphone" />
				</span>
			</span>
			<span class="details_info user_right">
				<h5>收货人信息</h5>
				<span>
					<em>姓名</em><input type="text" name="huser" id="huser" />
				</span>
				<span class="width width1">
					<em>省份/市区</em><input type="text" name="city" id="city" />
				</span>
				<span>
					<em>手机号</em><input type="text" name="hphone" id="hphone"/>
				</span>
				<span class="width width2">
					<em>收货地址</em><input type="text" name="street" id="street" />
				</span>
			</span>
        </div>
        <div class="clear"></div>
        <!-- 支付信息 -->
        <div class="cart_pay">
            <strong>顺丰/<font id="shunfeng">22.00</font>元<label><input type="checkbox"  onclick="plushEMS(this)" value="1" name="shunfeng_ems" class="shunfeng_ems">到付</label></strong>
            <div>
                顺丰快递礼盒附加费用: <span id="mass_totals">￥{$mass_totals}</span>
            </div>
			<span>
				<strong>
                    <em>共 <font id="pro_sum">{$nums}</font> 件商品</em>
                    <i>￥<i id="totals_price">{$totals}</i><font>元</font></i>
                    <input type="hidden" name="totals_price" value="{$totals}" id="totals_price1">
                </strong>
				<div class="clear"></div>
				<span>
					支付成功后，您将收到订单编号，可随时登录官方查看物流信息
					<input type="submit" id="qrzf" value="确认兑换">
				</span>
				<div class="clear"></div>
				<i>如未收到短信息请联系客服</i>
			</span>
        </div>
    </form>
    <div class="clear"></div>
    <!-- 选中地区 开始 -->
    <link rel="stylesheet" type="text/css" href="__JS__/city/city.css">
    <script src="__JS__/city/Popt.js"></script>
    <script src="__JS__/city/cityJson.js"></script>
    <script src="__JS__/city/citySet.js"></script>
    <!-- 选中地区 结束 -->
    <script type="text/javascript">
        $(function(){
            $('.fetch').click(function (e) {
                e.preventDefault();
                $val = $(this).siblings('input.ticket_code').val();
                if($val==''){
                    layer.alert('请填写礼品券号',{icon:2});
                    return false;
                }
                $.post("{:U('/Getgoods/details')}",{no:$val},function (data) {
                    if(data.status==0){
                        layer.alert(data.msg,{icon:2});
                    }else {
                        $('.main').html(data);
                    }
                });
            });
            // 礼品券
            $('#current').click(function(){
                var ticket = "<input type=\"text\" name=\"ticket_code\" class=\"ticket_code\" placeholder=\"请输入礼品券编号\" /><input type=\"button\" name=\"fetch\" class=\"fetch\" value=\"领取\" />";
                $('#ticket_edit').attr("class","ticket_edit ticket1");
                $('#ticket_edit').html(ticket);
            });
            // 订单信息
            $('#logistics').click(function(){
                var ticket = '<input type="text" name="ticket_code" id="ticket_code" class="ticket_code" placeholder="请输入订单号" /><a href="javascript:void(0);" onclick="searchEMS()">查询</a>';
                $('#ticket_edit').attr("class","ticket_edit ticket2");
                $('#ticket_edit').html(ticket);
            });

            //get_ems_price();
            // 选中地区
            $("#city").click(function (e) {
                SelCity(this,e);
            });
            // 送礼收礼
            $('#suser').keyup(function(event) {
                /* Act on the event */
                $('#huser').val($(this).val());
            });
            $('#sphone').keyup(function(){
                $('#hphone').val($(this).val());
            });
            // 提交
            $('#qrzf').click(function(e){
                e.preventDefault();
                // 姓名
                if($('#suser').val() == ""){
                    $('#suser').parent().addClass("error");
                    return false;
                }else{
                    $('#suser').parent().removeClass("error");
                }
                // 手机号
                if($('#sphone').val() == "" || !phoneReg.test($('#sphone').val())){
                    $('#sphone').parent().addClass("error");
                    return false;
                }else{
                    $('#sphone').parent().removeClass("error");
                }
                // 手机号
                if($('#hphone').val() == "" || !phoneReg.test($('#hphone').val())){
                    $('#hphone').parent().addClass("error");
                    return false;
                }else{
                    $('#hphone').parent().removeClass("error");
                }
                // 省份
                if($('#city').val() == ""){
                    $('#city').parent().addClass("error");
                    return false;
                }else{
                    $('#city').parent().removeClass("error");
                }
                // 街道
                if($('#street').val() == ""){
                    $('#street').parent().addClass("error");
                    return false;
                }else{
                    $('#street').parent().removeClass("error");
                }

                $form = $('form');
                layer.load(2, {
                    shade: [0.3,'#000'] //0.1透明度的白色背景
                });
                $.post($form.attr('action'),$form.serialize(),function (data) {
                    if(data.status==1){
                        layer.alert(data.msg,{icon:1});
                        setTimeout(function () {
                            window.location.reload();
                        },2000);
                    }else{
                       layer.alert(data.msg,{icon:2});
                        window.location.reload();
                    }
                });
            });
            $('input[type="text"]').focus(function(){
                $(this).parent().removeClass('error');
            });
        });

        var phoneReg = /^1[3|4|5|7|8]\d{9}$/;
        // 手机验证
        function checkPhone(obj){
            $obj = $(obj);
            var val = $obj.val();
            if(!phoneReg.test(val)){
                $obj.parent().addClass("error");
            }else{
                $obj.parent().removeClass("error");
            }
        }
        function change_sum(obj,p) {
            $obj = $(obj);
            $sum = $obj.val();
            if($sum==''){
                $sum=0;
            }
            $tt= get_all_price($obj);
            $('#totals_price').text($tt);
            //$('#pro_sum').text($sum);
        }
        /**
         * 获取除去自己外其他的价格
         * @param obj
         * @returns {number}
         */
        function get_orther_price(obj,num) {
            $prices =0;
            $sf =0;
            $p = obj.parent().parent().parent();
            $('.cart_product').each(function () {
                if($(this).index()!=$p.attr('data-index')){
                    if($(this).children('span.cart_pro_left').children('input[type="checkbox"]').is(':checked')){
                        $price = $(this).children('span.cart_pro_right').children('h2').children('i.single_price').text();
                        $sum = $(this).children('span.cart_pro_right').children('strong').children('input[type="text"]').val();
                        $sf += parseInt($sum);
                        $prices += parseInt($price)*parseInt($sum);
                    }
                }
            });
            $sm = get_ems_price();

            if($('.shunfeng_ems').is(':checked')){
                $sm=0;
            }
            $('#pro_sum').text($sf);
            $('#totals_price1').val($prices + $sm);
            return $prices + $sm;
        }
        /**
         * 获取所有的价格
         * @returns {number}
         */
        function get_all_price() {
            $prices =0;
            $sf=0;
            $('.cart_product').each(function () {
                $price = $(this).children('span.cart_pro_right').children('h2').children('i.single_price').text();
                $sum = 1;
                $ll =parseInt($price)*parseInt($sum);
                $prices +=$ll;
                $sf += parseInt($sum);
            });
            $('#pro_sum').text($sf);
            $tt= get_ems_price();
            if($('.shunfeng_ems').is(':checked')){
                $tt=0;
            }
            $('#totals_price1').val($prices + $tt);
            return $prices+$tt;
        }
        /**
         * 删除项
         * @param obj
         */
        function delItem(obj) {
            $obj = $(obj).parent();
            layer.confirm('您确定要删除吗？删除后您将不能找回商品', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post('__URL__/delItem',{i:$obj.attr('data-index')},function (data) {
                    if(data.status=1){
                        layer.closeAll();
                        $obj.remove();
                        $('#totals_price').text(get_all_price());
                    }
                });
            });

        }
        function clearItem() {
            layer.confirm('您确定要删除吗？删除后您将不能找回商品', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.get('__URL__/delItems',function (data) {
                    if(data.status==1){
                        layer.closeAll();
                        $('.cart_pro_list').empty();
                        $('#totals_price').text(get_all_price());
                    }
                });
            });
        }

        function plushEMS(obj) {
            $('#totals_price').text(get_all_price());
        }

        function get_ems_price() {
            $mass=0;
            $price = parseInt($('#shunfeng').text());
            $tal=0;
            $('.cart_product').each(function () {
                $number = 1;
                $input = $('#mass');
                if($input.val()!=''){
                    $mass = parseFloat($input.val());
                    if($mass<=1){
                        $tal = $price;
                    }else {
                        $tal = $price+(($mass*$number)-1)*14;
                    }
                }
            });
            $('#mass_totals').text("￥"+$tal);
            return parseFloat($tal);
        }
    </script>
