<include file="Common:header1" />
<div class="main">
    <div class="dzx_nav">
        <a href="discern.html">辨别大闸蟹</a>
        <a href="cooking.html">大闸蟹做法</a>
        <a href="culture.html" id="active" style="border-right: none;">养殖基地</a>
    </div>
    <div class="dzx_dis_fun">
        <p></p>
        <img src="__IMAGES__/culture.jpg">
        <img src="__IMAGES__/culture.jpg">
        <img src="__IMAGES__/culture.jpg">
        <img src="__IMAGES__/culture.jpg">
        <img src="__IMAGES__/culture.jpg">
    </div>
    <div class="clear"></div>
</div>
<include file="Common:footer" />