<include file="Common:header1" />
<div class="main">
    <div class="dzx_nav">
        <a href="{:U('index/discern')}" id="active">辨别大闸蟹</a>
        <a href="{:U('index/cooking')}">大闸蟹做法</a>
        <a href="{:U('index/culture')}" style="border-right: none;">养殖基地</a>
    </div>
    <div class="dzx_dis_fun">
        <p>阳澄湖大闸蟹近年来越来越少，不光是国内要吃、香港台湾要吃，海外的华人更是要买 来解解馋嘴。好多团购网站都打着好低好低的折扣，举着阳澄湖大闸蟹的牌子，那么， 您买到的，到底是很划算的抄底价阳澄湖大闸蟹还是去洗了个澡的洗澡蟹呢？</p>
			<span>
				<em>
                    <b><img src="__IMAGES__/dax1.jpg"></b>
                    <i>青背</i>
                </em><em>
                <b><img src="__IMAGES__/dax2.jpg"></b>
                <i>白肚</i>
            </em><em>
                <b><img src="__IMAGES__/dax3.jpg"></b>
                <i>黄毛</i>
            </em><em>
                <b><img src="__IMAGES__/dax4.jpg"></b>
                <i>金爪</i>
            </em>
			</span>
    </div>
    <div class="clear"></div>
</div>
<include file="Common:footer" />