<include file="Common:header" />
<div class="main">
    <div class="main_top">
        <img src="__IMAGES__/dpx.jpg" />
			<span>
				<a href="{:U('index/discern')}">辨别大闸蟹</a>
				<a href="{:U('index/cooking')}">大闸蟹做法</a>
				<a href="{:U('index/culture')}">养殖基地</a>
			</span>
    </div>
    <div class="main_lxpz">
			<span class="lxpz1">
				<img src="__IMAGES__/point3.fw.png">
			</span><span class="lxpz2">
				<img src="__IMAGES__/point1.fw.png">
			</span><span class="lxpz3">
				<img src="__IMAGES__/point2.fw.png">
			</span>
    </div>
    <div class="main_nav">
        <a href="{:U('product/index?oid=1')}" class="hairy_bg">
            礼品盒
        </a><a href="{:U('product/index?oid=2')}" class="coupon_bg">
        礼品券
    </a><a href="{:U('product/index?oid=5')}" class="wine_bg">
        红酒
    </a>
	<!-- <a href="http://pinkan.cn/WxpayAPI_php_v3/index.php">JSAPI</a> -->
    </div>
    <div class="pro_list">
        <div class="groom_pro">
            <span>推荐礼盒</span>
        </div>
		<volist name="com_list" id="vo">
			<!-- 商品 -->
			<a href="{:U('product/details?id='.$vo['id'])}" class="pro_hairy">
				<span class="hairy_left">
					<img src="{$vo.image}">
				</span>
				<span class="hairy_right">
					<h2><i></i><span>抢鲜价</span><font>￥{$vo.tprice}</font><em></em></h2>
					<u>市场价：￥{$vo.price}</u>
					<b>{$vo.title}</b>
					<u class="pro_guige">产品规格</u>
					  {$vo.description|get_pro_details}
				</span>
			</a>
		</volist>
    </div>
    <div class="clear"></div>
</div>
<include file="Common:footer" />