<include file="Common:header1"/>
<!-- 选中地区 开始 -->
<link rel="stylesheet" type="text/css" href="__JS__/city/LArea.css">
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script src="__JS__/city/LArea.js"></script>
<script src="__JS__/city/LAreaData1.js"></script>
<script src="__JS__/city/LAreaData2.js"></script>
<!-- 选中地区 结束 -->
<div class="main padd">
    <div class="query_title">
        <div class="query_enter">
            <div class="query_enter_top">
                <b class="red_bg" id="current">领取礼盒</b><b class="gray_bg" id="logistics">查询订单状态</b>
            </div>
            <div class="query_enter_down">
                <input type="text" placeholder="请输入礼品券号码" class="enter1" />
                <input type="button" value="领取" class="draw1 red_bg" />
            </div>
        </div>
    </div>
    <div id="addHtml">

    </div>
    <div class="clear"></div>
</div>
<include file="Common:footer"/>