.swipe {
  margin-bottom:20px;
  overflow:hidden;
  position:relative;
  width:100%;
}
.swipe ul{
    overflow:hidden;
}
.swipe li div, .swipe div div div {
  padding:50px 10px;
  background:#1db1ff;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}
.swipe li{
	margin:10px 10px 0 0;
	// width: 333px;
	width: 16.2%;
}
