<include file="Common:header"/>
<div class="admin_r_all" style="height: 555px;">
    <style type="text/css">
        .admin_bg_b li{
            line-height:70px;}
        .admin_bg_b li img{
            vertical-align:middle;}
    </style>
    <div class="admin_bg_all">
        <div class="admin_bg_t">
            <a href="#" id="admin_bg_t_x">礼券列表</a>
            <a href="__URL__/add">添加礼券</a>
            <div class="admin_bg_t_ss">
                <form action="">
                    <span>
                        <input name="coupons_title" type="text" value="{$search.title}" placeholder="卡券名称">
                        <input  type="submit" value="搜索">
                        <input  type="button" onclick="javascript:window.location.href='{:U('index')}'" value="全部">
                    </span>
                    <strong>
                        <select name="coupons_type">
                            <option value="-1">筛选</option>
                            <option value="0" <eq name="search.status" value="0">selected</eq>>实物卡券</option>
                            <option value="1" <eq name="search.status" value="1">selected</eq>>折扣卡券</option>
                            <option value="2" <eq name="search.status" value="2">selected</eq>>现金卡券</option>
                        </select>
                    </strong>
                </form>
            </div>
        </div>
        <div class="admin_bg_b">
            <ul class="admin_bg_b_t">
                <li class="admin_bg4">礼券编号</li>
                <li class="admin_bg4">礼券名称</li>
                <li class="admin_bg4">礼券类型</li>
                <li class="admin_bg4">礼券状态</li>
                <li class="admin_bg4">使用信息</li>
                <li class="admin_bg1">操作</li>
            </ul>
            <notempty name="list">
                <volist name="list" id="vo">
                    <ul>
                        <li class="admin_bg4">
                            {$vo.coupons_no}
                        </li>
                        <li class="admin_bg4">
                            {$vo.coupons_title}
                        </li>
                        <li class="admin_bg4">
                            {$vo.coupons_type|get_coupons_type}
                        </li>
                        <li class="admin_bg4">
                            <eq name="vo." value="0"></eq>
                        </li>
                        <li class="admin_bg4">
                            <eq name="vo.coupons_status" value="0"><b class="green">未发放</b></eq>
                            <eq name="vo.coupons_status" value="1"><b class="red">已发放</b></eq>
                            <eq name="vo.coupons_status" value="2"><b class="red">已使用</b></eq>
                            <eq name="vo.coupons_status" value="3"><b class="red">已失效</b></eq>
                        </li>
                        <li class="admin_bg4">
                            {$vo.id|get_coupons_used}
                        </li>
                        <li class="admin_bg1">
                            <a href="__URL__/see?id={$vo.id}">查看</a>
                            <a href="__URL__/del?id={$vo.id}" class="confirm" data-role="您确定要删除文档吗？删除后将不能恢复。">删除</a>
                        </li>
                    </ul>
                </volist>
                <div class="admin_null">{$page}</div>
                <else />
                <div class="admin_null">暂无数据</div>
            </notempty>
        </div>
    </div>
</div>
<include file="Common:footer"/>