<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{:C('SiteConfig.title')}|首页</title>
    <meta name="keyword" content="{:C('SiteConfig.keyword')}" >
    <meta name="description" content="{:C('SiteConfig.description')}" >
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css">
    <script type="text/javascript" src="__JS__/jquery.min-1.7.1.js"></script>
    <script type="text/javascript" src="__JS__/tool.js"></script>

    <!-- 联系客服 开始 -->
    <link href="__CSS__/lrtk.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__JS__/lrtk.js"></script>
    <!-- 联系客服 结束 -->

    <!-- 加入购物车 开始 -->
    <style type="text/css">.u-flyer{display: block;width: 100px;height: 100px;border-radius: 50%;position: fixed;z-index: 9999;}</style>
    <script type="text/javascript" src="__JS__/fly/jquery.fly.min.js"></script>
    <!-- 加入购物车 结束 -->
    <script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
</head>
<body>
<!-- 站头 -->
<div class="header">
    <div class="top">
        <a href="{:U('index/index')}"><img src="__IMAGES__/logo.fw.png" class="top_img img1"></a>
        <img src="__IMAGES__/logo2.fw.png" class="top_img img2">
        <img src="__IMAGES__/logo3.fw.png" class="top_img img3">
        <img src="__IMAGES__/logo4.fw.png" class="top_img img4">
        <span class="tips1"></span>
        <span class="tips2"></span>
        <span class="tips3"></span>
        <a href="{:U('index/index')}" class="back_home">首页</a>
    </div>
</div>